javascript:
  googletag.cmd.push(function() {
    googletag.defineSlot('/57491254/sole24ore.com/Speciali_minisiti/Pimco_UK_137106/Top', [1, 1], 'div-gpt-ad-Top').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.pubads().setCookieOptions(0);
    googletag.pubads().collapseEmptyDivs();
    googletag.enableServices();
  });
